@font-face {
    font-family: GloriaHalleluja;
    src: url(/fonts/font-to-choose/GloriaHallelujah-Regular.ttf);
}

@font-face {
    font-family: Modak;
    src: url(/fonts/font-to-choose/Modak-Regular.ttf);
}

@font-face {
    font-family: Monoton;
    src: url(/fonts/font-to-choose/Monoton-Regular.ttf);
}

@font-face {
    font-family: PoiretOne;
    src: url(/fonts/font-to-choose/PoiretOne-Regular.ttf);
}

@font-face {
    font-family: Sacramento;
    src: url(/fonts/font-to-choose/Sacramento-Regular.ttf);
}

body {
    background-color: #e3e3e3;
    margin: 0;
}

button {
    background-color: none;
    cursor: pointer;
}

.canvas-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60vh;
    margin: 0 auto;
}

#my-canvas {
    margin:0 auto;
}

@media (max-width: 740px) {
    .canvas-container {
        text-align: center;
        max-width: 40rem;
    }
    .img {
        max-width: 40rem;
    }
    #my-canvas {
        margin:0 auto;
    }
}


.top-txt {
    display: flex;
    border: none;
    border-radius: 12px;
    height: 3.75rem;
    width: 23rem;
    align-self: center;
}



.editor-btns {
    flex-wrap: wrap;
}

.imgs-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.img {
    padding: 10px;
    width: 30%;
    object-fit: cover;
    cursor: pointer;
}

.font-size {
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    padding: 5px;
}



.first-editors {
    margin-top: 0.3rem;
}

.second-editors {
    margin-top: 1.3rem;
}

.third-editors {
    margin-top: 0.3rem;
}

.form-control {
    height: 3rem;
    border-radius: 10px;
    width: 9.5rem;
    padding: 5px;
    margin: 0.3rem;
}

.save-btn {
    background-color: rgb(252, 195, 195);
    border-radius: 10px;
    width: 7.5rem;
    padding: 1rem;
}

.save-btn:hover {
    background-color: lightcoral;
}

input {
    z-index: -10;
    /* idth: 10px;w */
}

.Modak {
    font-family: Modak;
}

.Monoton {
    font-family: Monoton;
}

.PoiretOne {
    font-family: PoiretOne;
}

.Sacramento {
    font-family: Sacramento;
}

.GloriaHalleluja {
    font-family: GloriaHalleluja;
}

.Impact {
    font-family: Impact;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;

}


@media (max-width: 580px) {
    .header-wrapper {
        width: 100%;
    }
    body {
        width: 100%;
    }
    .canvas-container {
        max-height: 20rem;
        margin: 0;
    }
    #my-canvas{
        margin: 0 auto;
        width: 20rem; 
        max-height: 20rem;
        padding: 10px;
       
    }
    .editor-btns {
        max-width: 80vh;
        flex-wrap: wrap;
        height: auto;
    }
    .top-txt{
        width: auto;
    }
    .save-btn{
        margin-top :5px;
        padding: 0;
    }
}

/***nav***/

header {
    background-color: lightcoral
}

header .header-wrapper {
    height: 4.12rem;
    display: flex;
}

header .logo img {
    width: 8.3rem;
    margin-left: 1.5rem;
}

.main-menu {
    display: flex;
    align-items: center;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 90%;
    width: 8.4375rem;
    text-align: center;
    border-right: 1px solid #1e1e1e;
}

.main-menu a:first-child {
    border-left: 1px solid #1e1e1e;
}

.main-menu a.active {
    color: black;
}

.main-menu a:hover {
    color: black;
}

@media (max-width: 740px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: #292929;
        height: 50vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }
    .open .main-menu {
        transform: translate(0, 0);
    }
    .main-menu a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 1px solid #1e1e1e;
    }
    .main-menu a.active {
        border-width: 1px;
    }
}

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 740px) {
    .toggle-menu-screen {
        display: block;
    }
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
}

/**footer**/

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    height: 12.9rem;
}

footer .logo img {
    width: 8.3rem;
    padding: 0 20px;
}

/****helpers****/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.editor-btns {
    padding: 1.8rem;
}

.editor-btns img {
    cursor: pointer;
    margin: 0.3rem;
}

.color {
    opacity: 0;
    z-index: 100;
}


.stroke {
    opacity: 0;
    z-index: 100;


}