body{
    background-color: #e3e3e3;
    margin: 0;
}

button{
    background-color: none;
    cursor: pointer;
}
.canvas-container {
    padding: 20px
    /* height: 50vh; */
    /* background-color: red; */
    /* width: 60vh; */
}

.editor-container{
    width: 100vh;
}
.editor-btns{
    flex-wrap: wrap;
}
.imgs-container {
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.img {
    padding: 10px;
    width: 30%;
    object-fit: cover;
    cursor: pointer;
}
.font-size {
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    padding: 5px;
    
}

/***nav***/

header{
    background-color: lightcoral
}
header .header-wrapper {
    height: 4.12rem;
    display: flex;
    text-align: center;
}

header .logo img{
    width: 8.3rem;
    padding: 0 20px;
}
.main-menu{
    display: flex;
    align-items: center;
}

.main-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    line-height: 90%;
    width: 8.4375rem;
    text-align: center;
    border-right: 1px solid #1e1e1e;

}

.main-menu a:first-child {
    border-left: 1px solid #1e1e1e;
}

.main-menu a.active {
    color: black;
}


.main-menu a:hover {
    color: black;
}

@media (max-width: 740px) {
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        background: #292929;
        height: 50vh;
        transition: transform 1s;
        transform: translate(100%, 0);
    }
    .open .main-menu {
        transform: translate(0, 0);
    }
    .main-menu a {
        height: auto;
        line-height: 1;
        padding: 20px 0;
        width: 60vw;
        border: none;
        border-bottom: 1px solid #1e1e1e;
    }
    .main-menu a.active {
        border-width: 1px;
    }
}

.toggle-menu-screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(42, 42, 42, 0.6);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: opacity .5s;
}

@media (max-width: 740px) {
    .toggle-menu-screen {
        display: block;
    }
}

.open .toggle-menu-screen {
    visibility: visible;
    opacity: 1;
}

.toggle-menu-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.75rem;
    padding: 20px;
    display: none;
}

@media (max-width: 740px) {
    .toggle-menu-btn {
        display: block;
    }
}

/**footer**/

footer{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: lightcoral;
    height: 12.9rem;
}

footer .logo img{
    width: 8.3rem;
    padding: 0 20px;
}

/****helpers****/

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.column{
    flex-direction: column;
}